################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/net6.0
/api_csharp/bin/Debug/net6.0
/api_csharp/obj
/domain/bin/Debug/net6.0
/domain/obj
./vs.vs/
